.box{
    width: 650px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.left{
    float: left;
    width: 100px;
    height:100%;
}
.right{
    float: right;
    width: 500px;
    height:100%;
}
table{
    background: #95B8E7;
    border-collapse: collapse;
}
tr,th{
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td,th{
    width: 80px;
    border:1px solid #ffffff;
}
.item{
    background: #95B8E7;
}
.move{
    background: #b7d2ff;
}
.over{
    background: #6ae9ff;
}